    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
    }
    /* header part */
    #header{
        width: 100%;
        height: 55px;
        background-color: royalblue;
        display: flex;
        flex-wrap: wrap;

    }
    .social_images{
        padding: 2px;
        margin-right:15px ;
        position: relative;
        top: 10px;
        left: 120px;
        width: 1.6em;

    }
    .paragraph{
        position: relative;
        top: 10px;
        left: 150px;
    }
    p{
        color: cornsilk;
        font-size:1.2em ;
    }
    .btn{
        position: relative;
        top: 3px;
        left: 160px;
    }
    button{
        padding: 2px;
        border: 1px solid black;
        font-size: 25px;
    }
    @media screen and (max-width: 700px)
    {
    #header
    {
        height: auto;
        display: flex;

    }
    .social_images{
        position: relative;
        left: 170px ;
    }
    .paragraph{
        position: relative;
        left: 70px;
        right: 50px;
    }
    p{
        font-size: 0.85em;
    }
    button{
        position: relative;
        right: 38px;
        bottom: 10px;
    }
    }
    /* nav part */
    .logo{
        width: 200px;
    }
    .button_setting{
        position: relative;
        top: -35px;
        left: 200px;
    }
    nav{
        position: relative;
        top: 50px;

        left: -70px;
    }
    .k{
        color: black;
    }



    
    
    /* marquee part */
    .mar{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    }
    .mar_background{
        width: 90%;
        height: 40px;
        background-color: royalblue;
        position: relative;
        top: 5px;
        left: 70px;
        /* display: flex;
        justify-content: space-around; */
    }
    marquee{
        position: relative;
        top: 10px;
        color: white;
    }
    @media screen and (max-width:700px)
    {
    .mar{
            height: 50px;
        }
    .mar_background{
    width: 100%;
    position: relative;
    left: 0px ;
    }
    }
    /* Information part */
    .info{
        width: 100%;
        height: 700px;
        background-color: whitesmoke;
       
    }
    .intro_heading{
        position: relative;
        top: 10px;
        left: 500px;
    }
    h1{
        color: blue;
        opacity: 0.8;
    }
    span{
        color: chartreuse;
    }
    .Saylani_logo{
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }
    span{
        color: chartreuse;
    }
    .intro_line{
        position: relative;
        top: 10px;
        left: 540px;
    }
    .pi{
        color: black;
        width: 70%;
        position: relative;
        left: 220px;
        top: 20px;
        text-align: justify;
        color: gray;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    @media screen and (max-width: 700px){
        .info{
            height: 1050px;
        }
        .intro_heading{
            position: relative;
            top: 5px;
            left: 0px;
        }
        .intro_line
        {
            position: relative;
            top: 6px;
            left: 0px;
        }
        .pi{
            width: 480px;
            height: 240px;
            border: 1px solid transparent;
            position: relative;
            left: 0px;
        }

    }

    /* Counters part */
    .main{
        width: 100%;
        height: 250px;
        background-color: blue;
        opacity: 0.9;
        
    }
    .box{
        position: relative;
        top: 10%;
        left: 3%;
        width: 25%;
        height: 150px;
        border: 1px solid transparent;
    }
    .icon{
        width: 15%;
        height: 20%;
        position: relative;
        top: 10px;
        left: 140px;
    }
    .C1{
        width: 50%;
        height: 20%;
        position: relative;
        top: 20%;
        left: 30%;
    }
    .h{
        color: white ;
    }
    h5{
        position: relative;
        top: 35%;
        left: 5%;
        color: white;
    }
    .box_1{
        position: relative;
        left: 30%;
        bottom: 50%;
        width: 25%;
        height: 150px;
        border: 1px solid transparent;
    }
    .icon_1{
        width: 15%;
        height: 20%;
        position: relative;
        top: 10px;
        left: 140px;
    }
    .C2{
        width: 50%;
        height: 20%;
        position: relative;
        top: 20%;
        left: 35%;
    }
    .box_2{
        position: relative;
        left: 760px;
        bottom: 274px;
        width: 25%;
        height: 150px;
        border: 1px solid transparent;
    }
    .icon_2{
        width: 15%;
        height: 20%;
        position: relative;
        top: 10px;
        left: 100px;
    }
    .C3{
        width: 50%;
        height: 20%;
        position: relative;
        top: 20%;
        left: 20%;
    }

    .box_3{
        position: relative;
        left: 1020px;
        bottom: 424px;
        width: 25%;
        height: 150px;
        border: 1px solid transparent;
    }
    .icon_3{
        width: 15%;
        height: 20%;
        position: relative;
        top: 10px;
        left: 100px;
    }
    .C4{
        width: 50%;
        height: 20%;
        position: relative;
        top: 20%;
        left: 20%;
    }
    @media screen and (max-width: 700px)
    {
        .main{
            height: 800px;
            position: relative;
            top: 50px;
        }
        .box{
            top: 60px;
            width: 70%;
            border: 1px solid transparent;
            position: relative;
            left: 75px;
        }
        h5{
            font-size: 45px;
        }
        .box_1{
            position: relative;
            top: 90px;
            width: 70%;
            border: 1px solid transparent;
            left: 75px;

        }
        .box_2{
            position: relative;
            top: 120px;
            left: 75px;
            width: 70%;
            border: 1px solid transparent;
        }
        .icon_2{
            position: relative;
            top: 10px;
            left: 140px;
        }
        .C3{
            position: relative;
            left: 110px;
        }
        .hm{
            position: relative;
            left: 70px;
        }
        .box_3{
            position: relative;
            top: 150px;
            left: 75px;
         width: 70%;
         border: 1px solid transparent;

        }
        .icon_3{
            position: relative;
            left: 140px;
            top: 15px;
        }
        .C4{
            position: relative;
            left: 100px;
        }
    }
    /* what we are doing part */
    .wwad{
        width: 100%;
        height: 800px;
        background-color: whitesmoke;
    }
    .text{
        width: 500px;
        border: 1px solid transparent;
        position: relative;
        top: 20px;
        left: 470px;
    }
    .wwad_line{ 
        position: relative;
        top: 15px;
        left: 550px;
    }
    .Saylani_logo_1{ 
        border-radius: 50px;
        width: 40px;
        height: 40px;
    }
    .text_box{
        width: 300px;
        height: 150px;
        border: 2px solid black;
        position: relative;
        top: 150px;
        background-color: white;
        box-shadow: 10px 10px 6px gainsboro;
    }
    .text_box_1{
        width: 300px;
        height: 150px;
        border: 2px solid black;
        position: relative;
        left: 350px;
        background-color: white;
        box-shadow: 10px 10px 6px gainsboro;
    }
    .text_box_2{
        width: 300px;
        height: 150px;
        border: 2px solid black;
        position: relative;
        left: 700px;
        bottom: 150px;
        background-color: white;
        box-shadow: 10px 10px 6px gainsboro;
    }
    .text_box_3{
        width: 300px;
        height: 150px;
        border: 2px solid black;
        position: relative;
        left: 150px;
        background-color: white;
        box-shadow: 10px 10px 6px gainsboro;
    }
    .text_box_4{
        width: 300px;
        height: 150px;
        border: 2px solid black;
        position: relative;
        left: 500px;
        bottom: 150px;
        background-color: white;
        box-shadow: 10px 10px 6px gainsboro;
    }
    .text_box_5{
        width: 300px;
        height: 150px;
        border: 2px solid black;
        position: relative;
        left: 850px;
        bottom: 300px;
        background-color: white;
        box-shadow: 10px 10px 6px gainsboro;
    }
    .text_box_distance{
        position: relative;
        left: 150px;
    }
    .heading{
        position: relative;
        top: 20px;
        left: 50px;
    }
    .heading_1{
        position: relative;
        top: 20px;
        left: 100px;
    }
    .heading_2{
        position: relative;
        top: 20px;
        left: 100px;
    }
    .heading_3{
        position: relative;
        top: 20px;
        left: 100px;
    }
    .heading_4{
        position: relative;
        top: 20px;
        left: 100px;
    }
    .heading_5{
        position: relative;
        top: 20px;
        left: 100px;
    }
    .heading_logo{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: relative;
        top: 25px;
        left: 120px;
    }
    .heading_logo_1{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: relative;
        top: 25px;
        left: 120px;
    }
    .heading_logo_2{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: relative;
        top: 25px;
        left: 120px;

    }
    .heading_logo_3{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: relative;
        top: 25px;
        left: 120px;

    }
    .heading_logo_4{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: relative;
        top: 15px;
        left: 10px;
    }
    .heading_logo_5{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: relative;
        top: 15px;
        left: 20px;
    }
    @media screen and (max-width: 700px){
        .wwad{
            height: 1300px;
        }
        .text{
            position: relative;
            top: 55px;
            left: 10px;
        }
        .wwad_line{
            position: relative;
            top: 50px;
            left: 95px;
        }
        .text_box{
            position: relative;
            top: 80px;
            left: -60px;
            width: 65%;
        }
        .heading{
            margin-left: 10px;
        }
        .heading_logo{
            margin-left: 12px;
        }
        .text_box_1{
            position: relative;
            top: 100px;
            left: -60px;
            width: 65% ;
        }
        .heading_1{
            margin-left: 13px;
        }
        .heading_logo_1{
            margin-left: 7px;
        }
        .text_box_2{
            position: relative;
            top: 120px;
            left: -60px;
            width: 65%;
        }
        .heading_2{
            margin-left: 13px;
        }
        .heading_logo_2{
            margin-left: 10px;
        }
        .text_box_distance{
            width: 100%;
        }
        .text_box_3{
            position: relative;
            top: 150px;
            left: 90px;
            width: 65%;
        }
        .heading_3{
            margin-left: -5px;
        }
        .heading_logo_3{
            margin-left: 10px;
        }
        .text_box_4{
            position: relative;
            top: 180px;
            left: 90px;
            width: 65%;
        }
        .text_box_5{
            position: relative;
            top: 210px;
            left: 90px;
            width: 65%;
        }

    }
    
     /* Mission and upcoming projects & upcoming events */
     .maup_ue{
         width: 100%;
        height: 650px;
        background-color:white;
        }
     .maup_heading{
         color: royalblue;
         font-size: 35px;
         font-weight: bold;
     }   
     .maup{
         position: relative;
         top:65px;
         left: 50px;
     }
     .color_line{
         position: relative;
         top: 55px;
         left: 50px;
     }
     .maup_box{
         width: 25%;
         height: 70px;
         border: 1px solid black;
         position: relative;
         top: 120px;
         left: 50px;
     }
     .maup_box_1{
        width: 25%;
        height: 70px;
        border: 1px solid black;
        position: relative;
        top: 150px;
        left: 50px;
     }
     .maup_box_2{
        width: 25%;
        height: 70px;
        border: 1px solid black;
        position: relative;
        left: 440px;
        bottom: 20px;
        
     }
     .maup_box_3{
        width: 25%;
        height: 70px;
        border: 1px solid black;
        position: relative;
        left: 440px;
        top: 10px;
     }
     .maup_logo{
         width: 40px;
         height: 30px;
         position: relative;
         top: 20px;
         left: 20px;
     }
    .maup_logo_1{
        width: 40px;
        height: 30px;
        position: relative;
        top: 20px;
        left: 20px;
    }
    .maup_logo_2{
        width: 40px;
        height: 30px;
        position: relative;
        top: 20px;
        left: 20px;
    }
    .maup_logo_3{
        position: relative;
        top: 20px;
        left: 20px;
    }
    h6{
        position: relative;
        left: 100px;
        font-size: 50px;
        color: cornflowerblue;
        font-weight: bold;
    }
    .grey{
        color: darkgray;
    }
    .ue{
        position: relative;
        left: 850px;
        bottom: 290px;
    }
    h2{
        color: royalblue ;
        font-weight: bold;
    }
    .marquee_statement{
        width: 22%;
        height: 250px;
        border: 1px solid transparent;
    }
    .m{
        color: aqua;
    }
    @media screen and (max-width: 700px)
    {
        .maup_ue{
            height: 900px;
        }
        .maup{
            position: relative;
            top: 0px;
            left: 0px;
        }
        .color_line{
            position: relative;
            left: 0px;
            top: -5px;
        }
        .maup_box{
            width: 45%;
            border: 1px solid black;
            position: relative;
            left: 10px;
            top: 10px;
        }
        .maup_box_1{
            width: 45%;
            border: 1px solid black;
            position: relative;
            left: 250px;
            top: -60px;
        }
        .word{
            position: relative;
            left: 70px;
        }
        .maup_box_2{
            width: 45%;
            border: 1px solid black;
            position: relative;
            left: 10px;
            top: 0px;   
        }
        .maup_box_3{
            width: 45%;
            border: 1px solid black;
            position: relative;
            left: 250px;
            top: -70px;   
        }
        h2{
            position: relative;
           top: 250px;
            right: 850px;

        }
        .color_line_1{
            position: relative;
            right: 850px;
            top: 250px;
        }
        .marquee_statement{
            position: relative;
            right: 850px;
        }
        .m{
            width: 250%;
            height: 400px;
            border: 1px solid transparent;
            position: relative;
            top: 300px;
        }
        
    }
/* image gallery part */
.image_gallery_portion{
    width: 100%;
    height: 450px;
    background-color:white;
    border: 1px solid transparent ;
    
}
.image_gallery_heading{
    position: relative;
    top: 30px;
    left: 500px;
    color: white;

}
.image_heading{
    font-weight: bold;
}
.image_line{
    position: relative;
    top: 30px;
    left: 520px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 100px;
}
.image_size{
    width: 200px;
    height: 180px;
}
@media screen and (max-width: 700px)
{
    .image_gallery_heading{
        position: relative;
        top: 0px;
        left: 0px;
    }
    .image_gallery_portion{
        height: 1050px;
    }

    .images{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 20px;
        left: 150px;
    }
    .image_line{
        position: relative;
        top: 0px;
        left: 35px;
    }
   }


/* footer part */
.footer{
    width: 100%;
    height: 330px;
    background-color: teal;
}
.footer_info{
    position: relative;
    top: 20px;
    left: 70px;
}
.footer_text{
    position: relative;
    top: 10px;
    left: 70px;
}
.uper{
    position: relative;
    left: 250px;
    bottom: 40px;
}
.ps{
    position: relative;
    bottom: 50px;
}
.links{
    position: relative;
    left: 600px;
    bottom: 310px;
}
.links_a
{
    position: relative;
    left: 500px;
    bottom: 50px;
}
.one{
    width: 40px;
    height: 30px;
}
@media screen and (max-width: 700px)
{
    .footer_info{
        position: relative;
        top: 10px;
        left: 20px;
    }
    .footer_text{
        position: relative;
        left: 20px;
    }
    .links{
        position: relative;
        left: -80px;
        top: -15px;
    }
    .links_line{
        position: relative;
        top: -10px;
        left: 90px;
    }
    .connect{
        position: relative;
        top: 45px;
        right: 400px;
    }
    
    
}

    
    
   









